<ion-list no-lines>
      <ion-item>
        <p>Subtotal (1 items)</p>
        <p item-end>8,999 ฿</p>
      </ion-item>
      <ion-item>
        <p>Shipping Fees</p>
        <p item-end>10 ฿</p>
      </ion-item>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-input type="text" placeholder="Enter voucher code"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <button ion-button block color="warning">Apply</button>
        </ion-col>
      </ion-row>
      <ion-item>
        <p><b>Total (VAT incl.)</b></p>
        <p item-end><b>9,009 ฿</b></p>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col col-12>
        <button ion-button block color="warning" (click)="placeorder()">Place Order</button>
      </ion-col>
    </ion-row>
    <ion-item-group>
      <ion-item-divider color="light"><b>Items</b></ion-item-divider>
    </ion-item-group>
    <div class="list-mini">
      <ion-list>
        <ion-item *ngFor="let i of [1]">
          <ion-row>
            <ion-col col-12>
              <p>Samsung</p>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col no-padding width-20 class="item-avatar">
              <preload-image class="avatar-image" [ratio]="{w:1, h:1}" src="assets/images/products/p7.png"></preload-image>
            </ion-col>
            <ion-col no-padding width-60 class="white-space">
              <h3 class="item-title">Samsung Galaxy J7 Pro (Gold)</h3>
              <p class="item-description">Qty 1</p>
            </ion-col>
            <ion-col no-padding width-20>
              <p>8,999 ฿</p>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col padding width-100 text-center class="ion-col-deilvery">
              <p>Standard Deilvery</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col col-12>
          <p class="review-address"><b>Theerasak Tubrit</b></p>
          <p class="review-address">55/7 หมู่11 ถ.ลำลูกกา ลำลูกกา บึงคำพร้อย ปทุมธานี 12150</p>
          <p class="review-address">Tel : 0894447208 , jigkoh3@gmail.com</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="warning" (click)="placeorder()">Place Order</button>
        </ion-col>
      </ion-row>
    </div>