page-payment {
    .image-payment {
        width: 100% !important;
    }
    .button {
        border: none !important;
        background-color: #00e9d5;
    }
    .note-price {
        color: #43545d !important;
        text-align: right;
        width: 100px;
    }
}