<ion-header>
    <ion-navbar>
        <ion-title>{{'Product Detail' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contact-card-content">
    <preload-image [ratio]="{w:4, h:4}" [src]="product.productdetail.img" alt="{{ product.productdetail.name }}" title="{{ product.productdetail.name }} - {{ product.productdetail.detail }}"></preload-image>

    <ion-row class="contact-details-row" wrap>
        <ion-col no-padding width-65>
            <h2 class="contact-name">{{ product.productdetail.name }}</h2>
        </ion-col>
        <ion-col no-padding width-35 class="rating-col">
            <!-- <div class="contact-rating">
        <ion-item class="rating-item">
          <rating [(ngModel)]="contact.rating" max="5" read-only="true"></rating>
        </ion-item>
      </div> -->
        </ion-col>
        <ion-col no-padding width-100>
            <p class="contact-description">
                {{ product.productdetail.detail }}
            </p>
        </ion-col>
    </ion-row>

    <ion-list class="details-list">
        <!-- <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="pin"></ion-icon>
      </ion-avatar>
      <span class="detail-text">{{ contact.address }}</span>
    </ion-item>
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="globe"></ion-icon>
      </ion-avatar>
      <span class="detail-text">{{ contact.website }}</span>
    </ion-item> -->
        <ion-item class="detail-item">
            <ion-avatar item-left>
                <ion-icon name="ios-cash-outline"></ion-icon>
            </ion-avatar>
            <span class="detail-text">{{ product.productdetail.price }} ฿</span>

        </ion-item>
        <ion-item class="detail-item" *ngFor="let delivery of product.productdetail.deliverytype">
            <ion-avatar item-left>
                <ion-icon name="ios-cube-outline"></ion-icon>
            </ion-avatar>
            <span class="detail-text">{{ delivery.name }}</span>
            <span class="detail-text">{{ delivery.desc }}</span>
        </ion-item>
        <ion-item class="detail-item">
            <h4 class="categories-title">{{'โปรโมชั่นสินค้า' | translate}}</h4>
            <span class="detail-text">เมือซื้อเสื้อยีนส์ 1 แถม กางเกงยีนส์ขาสั้น 1 ตัว</span>
        </ion-item>
        <span class="detail-text">โปรดเลือกขนาด</span>
        <ion-list class="radio-tags" radio-group>
            <ion-item class="radio-tag">
                <ion-label>S</ion-label>
                <ion-radio value="s"></ion-radio>
            </ion-item>
            <ion-item class="radio-tag">
                <ion-label>
                    <span>M</span>
                </ion-label>
                <ion-radio value="m"></ion-radio>
            </ion-item>
            <ion-item class="radio-tag">
                <ion-label>
                    <span>L</span>
                </ion-label>
                <ion-radio value="l"></ion-radio>
            </ion-item>
            <ion-item class="radio-tag">
                <ion-label>
                    <span>XL</span>
                </ion-label>
                <ion-radio value="xl"></ion-radio>
            </ion-item>
        </ion-list>

    </ion-list>
    <h4 class="categories-title">{{'Relate' | translate}}</h4>
    <ion-scroll scrollX="true" class="horizontal-categories">
        <ion-row class="categories-row">
            <ion-col width-30 class="horizontal-item" *ngFor="let item of product.productrelate">
                <preload-image [ratio]="{w:1, h:1}" [src]="item.img" title="item.name"></preload-image>
                <p class="txt-centr">{{item.name}}</p>
                <p class="txt-centr2">{{item.price | number}} ฿</p>
            </ion-col>
        </ion-row>
    </ion-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar color="warning">
        <div style="text-align: center;">
            <ion-buttons>
                <button ion-button icon-left (click)="goToSchedulePage()">
        <ion-icon name="cart"></ion-icon>ใส่ตะกร้า
      </button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-footer>