<ion-header>
  <ion-navbar>
    <ion-title>{{'FORM_VALIDATIONS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="forms-validations-content">
  <h2 class="section-title">ที่อยู่จัดส่ง</h2>
  <ion-list radio-group [(ngModel)]="chk">
    <ion-item>
      <ion-label>ที่อยู่เดิม</ion-label>
      <ion-radio checked="true" value="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>ที่อยู่ใหม่</ion-label>
      <ion-radio value="false"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="chk === 'true'">
    <ion-row>
      <ion-col col-12>ชื่อ-นาสกุล</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>ที่อยู่</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>เบอร์โทร</ion-col>
    </ion-row>
  </ion-grid>
  <form *ngIf="chk === 'false'" class="sample-form validations-form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <section class="form-section">

      <ion-item>
        <ion-label floating>ชื่อ-นาสกุล</ion-label>
        <ion-input type="text" formControlName="name" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>ที่อยู่</ion-label>
        <ion-input type="textarea" formControlName="address" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.address">
          <div class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>รหัสไปรษณีย์</ion-label>
        <ion-input type="text" formControlName="postcode" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.postcode">
          <div class="error-message" *ngIf="validations_form.get('postcode').hasError(validation.type) && (validations_form.get('postcode').dirty || validations_form.get('postcode').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>จังหวัด</ion-label>
        <ion-input type="text" formControlName="province" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.province">
          <div class="error-message" *ngIf="validations_form.get('province').hasError(validation.type) && (validations_form.get('province').dirty || validations_form.get('province').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>เขต</ion-label>
        <ion-input type="text" formControlName="district" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.district">
          <div class="error-message" *ngIf="validations_form.get('district').hasError(validation.type) && (validations_form.get('district').dirty || validations_form.get('district').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>เบอร์ติดต่อ</ion-label>
        <ion-input type="text" formControlName="tel" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.tel">
          <div class="error-message" *ngIf="validations_form.get('tel').hasError(validation.type) && (validations_form.get('tel').dirty || validations_form.get('tel').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      
    </section>

  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="goToPayment()">{{'SUBMIT' | translate}}</button>
  </ion-toolbar>
</ion-footer>